body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    margin-top: 20px;
    max-width: 600px;
    margin:  20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.names {
    background-color: #ffffff;
    max-width: 100px;
    padding: 20px;
    /* Add these styles to prevent the container from taking infinite height */
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img{
    display: flex;
    margin-top: 10px;
}
.hidden {
    display: none;
}
.container img{
    width: 500px;
    height: auto;
    margin: auto;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;
}
.flex{
    display: flex;
}
.names p{
    font-size: 10px;
}
button[type="submit"]:hover {
    background-color: #3367d6;
}